.sub-menu {
  display: none;
  transition: 1s;
}
.menu {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu:hover {
  cursor: pointer;
}
.sub-menu > li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  transition: 1s;
}
.sub-menu > li > a:hover {
  color: yellow;
}
.menu:hover .sub-menu {
  display: block;
}
